{% block content %}
{% load static %}

<link href="{% static 'ProyectoSernacApp/vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">
<link href="{% static 'ProyectoSernacApp/css/signin.css' %}" rel="stylesheet">

<html>
  <body>
    <form class="form-signin" method="post">
      {% csrf_token %}
    
      
      <img src="{% static 'ProyectoSernacApp/img/logo.png' %}" alt="" width="594" height="315">
      <h1 class="h3 mb-3 fa-twitter">Ingrese datos</h1>
    
    
      
      <p><label for="id_username"></label> <input type="text" name="username" autofocus autocapitalize="none"
          autocomplete="username" maxlength="150" required id="id_username" class="form-control" id="floatingInput"
          placeholder="Usuario"></p>
      <p><label for="id_password"></label> <input type="password" name="password" autocomplete="current-password"
          required id="id_password" class="form-control" id="floatingInput" placeholder="Contraseña"></p>
          <div class="nav-item px-lg-4">
            <a class="nav-link text-small text-center" type="submit" href="{% url 'reset_password' %}"><u><i>Haz olvidado tu contraseña?</u></i</a>
          </div>
          
      <button class="w-100 btn btn-lg btn-primary" type="submit" id="submit">Entrar</button>
     
      <a class="nav-link text-small text-center" type="submit" href="{% url 'Registro' %}"><u><i>Crear Cuenta</u></i></a>



     {% if form.errors %}
      <div class="alert alert-danger" role="alert">
        Tu contraseña y/o usuario son incorrectos
      </div>
    {% endif %}


    </form>
    <script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    {% if messages %}   
      {% for m in messages %}
        <script>
          Swal.fire({
            "title": "Felicitaciones",
            "text": "{{m}}",
            "icon": "success"
          })
        </script>
      {% endfor %}
    {% endif %}

  </body>

</html>
{% include "ProyectoSernacApp/Footer.html" %}
    {% endblock %}