asgiref
certifi
cffi
chardet
click
colorama
ConfigArgParse
coverage
Django
django-cors-headers
django-crum
django-widget-tweaks
djangorestframework
Flask
Flask-BasicAuth
Flask-Cors
gevent
geventhttpclient
greenlet
gunicorn
html5lib
idna
itsdangerous
Jinja2
locust
MarkupSafe
msgpack
mysql-connector
mysqlclient
Pillow
psutil
psycopg2
pycparser
PyPDF2
pytz
pywin32
pyzmq
reportlab
requests
roundrobin
selenium
six
sqlparse
urllib3
webencodings
Werkzeug
xhtml2pdf
zope.event
zope.interface
