{% extends "ProyectoSernacApp/login.html" %}
{% load static %}
{% block content %}
<link href="{% static 'ProyectoSernacApp/vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">
<link href="{% static 'ProyectoSernacApp/css/signin.css' %}" rel="stylesheet">

{% if pregunta is None %}
    <div class="container" >
    <div class="jumbotron my-4">
        <h1>Ya haz respondido a todas nuestras preguntas.Mira el tablero de posiciones</h1>
        <a href= "{% url 'tablero' %}">Ver aqui </a>
    </div>
    </div>
{% else %}
<div class="container mt-sm-5 my-1">
    <div class="container">
    <div class="jumbotron my-4">
        <h3>
            {{ pregunta.texto }}
        </h3>

        <form method="POST" class="form">
            {% csrf_token %}
            <input type="hidden" name="pregunta_pk" value="{{ pregunta.pk }}">

            {% for opciones in pregunta.opciones.all %}
                <div class="form-check mx-4">
                <input class="form-check-input" type="radio" name="respuesta_pk" value="
                        {{ opciones.pk }}" id="choice-{{ forloop.counter }}">
                <label class="form-check-label" for="choice-{{ forloop.counter }}">
                        {{ opciones.texto }}
                </label>
                </div>

            {% endfor %}

            <button type="submit" class="btn btn-success">
                 Enviar
            </button>


        </form>
    </div>
 </div>

<a class="nav-link active mx-auto" href="{% url 'Educacion' %}">
                <img src="{% static 'ProyectoSernacApp/img/salida.png' %}" width="35" height="35">Volver al Inicio</a>
</div>


{% endif %}
{% endblock %}