{% extends "ProyectoSernacApp/login.html" %}
{% load static %}
{% block content %}
<link href="{% static 'ProyectoSernacApp/vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">
<link href="{% static 'ProyectoSernacApp/css/signin.css' %}" rel="stylesheet">
<div class = "form-signin">
       <h1 class="text-center my-4">
           <span class="badge badge-info">
               Los {{ contar_user }} mejores jugadores
           </span>
       </h1>

       <table class="table table-striped table-bordered">
           <thead>
           <tr>
               <th>Posicion</th>
               <th>Usuario</th>
               <th>Puntaje</th>
           </tr>
           </thead>
           <tbody>
                 {% for user_quiz in usuario_quiz %}
                     <tr>
                     <th>{{ forloop.counter }}</th>
                     <th>{{ user_quiz.usuario.username }}</th>
                     <th>{{ user_quiz.puntaje_total }}</th>
                     </tr>

                 {% endfor %}




           </tbody>
       </table>

      <a class="nav-link active mx-auto" href="{% url 'Educacion' %}">
          <img src="{% static 'ProyectoSernacApp/img/salida.png' %}" width="35" height="35">Volver al Inicio</a>

</div>


{% endblock %}