{% extends "ProyectoSernacApp/login.html" %}
{% load static %}
{% block content %}
<link href="{% static 'ProyectoSernacApp/vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">
<link href="{% static 'ProyectoSernacApp/css/signin.css' %}" rel="stylesheet">
<form class="form-signin" method="post">
    {% csrf_token %}
  <img class="mb-4" src="{% static 'ProyectoSernacApp/img/contrasena.png' %}" alt="" width="600" height="113">

  {{ form }}

  <button type="submit">Enviar Email</button>
  {% endblock %}
{% include "ProyectoSernacApp/Footer.html" %}
</form>
