{% extends "ProyectoSernacApp/login.html" %}
{% load static %}
{% block content %}
<link href="{% static 'ProyectoSernacApp/vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">
<link href="{% static 'ProyectoSernacApp/css/signin.css' %}" rel="stylesheet">
<form class="form-signin" method="post">
    {% csrf_token %}
    <h1>Tu contrasena ha sido cambiada exitosamente</h1>
   <li class="nav-item px-lg-4">
            <a class="nav-link text-uppercase text-expanded" href="{% url 'login' %}">Login</a>
   </li>



  {{ form }}


  {% endblock %}
{% include "ProyectoSernacApp/Footer.html" %}
</form>
