{% extends "ProyectoSernacApp/login.html" %}
{% load static %}
{% block content %}
<link href="{% static 'ProyectoSernacApp/vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">
<link href="{% static 'ProyectoSernacApp/css/signin.css' %}" rel="stylesheet">
<form class="form-signin" method="post">
    <img class="mb-4" src="{% static 'ProyectoSernacApp/img/contrasena.png' %}" alt="" width="600" height="113">
     {% csrf_token %}
    <h1>Tu contrasena ha sido cambiada exitosamente!</h1>
        <p><a class="btn btn-secondary" href="{% url 'Educacion' %}">Volver a ingresar&raquo;</a></p>

    {{ form }}


  {% endblock %}
{% include "ProyectoSernacApp/Footer.html" %}
</form>
  {% endblock %}
{% include "ProyectoSernacApp/Footer.html" %}
</form>
