{% extends 'comentarios/base.html' %}
{%  block main %}
{% load static %}
<link href="{% static 'ProyectoSernacApp/vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">
<link href="{% static 'ProyectoSernacApp/css/foro.css' %}" rel="stylesheet">
<body>
<div class="row">
        	<div class="col-sm-12">
                <a class="navbar-brand" href="{% url 'Educacion' %}">
                    <br>
                    <img src="{% static 'ProyectoSernacApp/img/titulo.png' %}" width="350" height="50" alt="">
	            </a>
        	</div>
        </div>
	</body>
<div class="main_div">

	<article class="feed_one feed_principal">

		<header class="titulo_header">
			<h2 class="big">
				{{instance.texto}}
			</h2>
		</header>

		<div class="feed_propiedad">

<!--			<div class="feed_avatar">
				<a href="" style="background-image:url();" class="UserAvatar">

				</a>
				</br>
			</div>
			!-->
			<div class="feed_detalles">

				<div class="feed_meta feed_meta_owner">
					<a class="userOnline" style="display: flex;" href="">
						{{instance.usuario.username}}

					</a>
				</div>

				<form method="POST">
					{% csrf_token %}
					{{form.as_p}}


					<button class="b_comentar" type="submit">Comentar</button>

				</form>

			</div>

		</div>

	</article>

	<header>
		<span class="contar_reply">
		{% if ver_comentarios.count > 1 %}
			Hay {{ver_comentarios.count}}<strong> comentarios </strong>
		{% else %}
			Hay {{ver_comentarios.count}}<strong> comentario </strong>
		{% endif %}
		</span>
	</header>


	{% for ver_comentarios in ver_comentarios %}
	<div class="div_ver_comentarios">

		<strong>
			{{ver_comentarios.usuario}}:</br> <small>{{ver_comentarios.tiempo}}</small>
		</strong>
		 <div class="jumbotron bg-Ash Gray text-black" >
		<p class="p_comentario">
			 {{ver_comentarios.texto}} <span></span>
		</p>
		</div>
		{% if request.user == ver_comentarios.usuario %}
		<p><a class="btn btn-secondary" href="{% url 'eliminar' ver_comentarios.id %}">Eliminar comentario &raquo;</a></p>
		{% else %}
		{% endif %}

		<button class="b_responder" style="display: block">
				Responder
				</button>


		<div class="abrir_caja_reply">




	    <span class="contar_reply">
			{{ver_comentarios.hijo.count}} Respuesta{% if ver_comentarios.hijo.count > 1 %}s{% endif %}
		</span>

		{% if ver_comentarios.hijo.count > 0 %}
		    {% for respuesta in ver_comentarios.hijo %}

					 <div class="">
                          <p class="p_comentario">
                              <strong>
                                   {{respuesta.usuario}}:
                                  <small>{{ver_comentarios.tiempo}}</small>
                              </strong>

                          <p>
                              {{respuesta.texto}}
                          </p>
						 </p>

		{% endfor %}
		{% endif %}
		<form method="POST">
			{% csrf_token %}
			<input type="hidden" name="padre_identificador" value="{{ver_comentarios.id}}">

			{{form}}
			<button type="submit" class="btn_enviar">
				Enviar respuesta
			</button>

		</form>
	</div>
	<hr>
	{% empty %}

		<h1>
			Publica el primer comentario
		</h1>

	{% endfor %}

</div>

<script>
	$('.b_responder').click(function (e){
		e.preventDefault();
		$(this).next(".abrir_caja_reply").fadeToggle()
	})
</script>
</div>
</div>
<p><a class="btn btn-secondary" href="{% url 'post' %}">Volver al Foro&raquo;</a></p>
{% endblock %}