{% extends 'comentarios/base.html' %}
{%  block main %}
{% load static %}
<link href="{% static 'ProyectoSernacApp/vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">
<link href="{% static 'ProyectoSernacApp/css/foro.css' %}" rel="stylesheet">
<head>
<div class="row">
        	<div class="col-sm-12">
                <a class="navbar-brand" href="{% url 'Educacion' %}">
                    <br>
                    <img src="{% static 'ProyectoSernacApp/img/titulo.png' %}" width="350" height="50" alt="">
	            </a>
        	</div>
        </div>
<div class="main_div">
	<head>
		<h1 align="center" class="h1 mb-1 fa-twitter">Bienvenido al foro de Sernac!</h1>
	<br>
	{% for post in post %}
		<article class="feed_one feed_principal">

			<header class="titulo_header">
				<h2 class="big">

				{{post.texto}}

				</h2>
			</header>

			<div class="feed_propieda">

				<!--<div class="feed_avatar">
					<a style="background-image: url();" class="userAvatar"></a>
				</div>!-->


				<div class="feed_detalles">
					<div  class="feed_meta feed_meta_owner">
						<a href="" class="userOnline" style="display: flex;">
							{{post.usuario}}
						</a>
					</div>
					<br>

					<a href="{% url 'post_idd' post.pk %}">
						<button class="b_comentar">
							Comentar
						</button>
					</a>

				</div>

			</div>

		</article>

	{% empty %}

	<h1>
		Vacio
	</h1>

	{% endfor %}

	<p><a class="btn btn-secondary" href="{% url 'Educacion' %}">Volver al inicio &raquo;</a></p>

</div>
{% endblock %}