<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Confirmacion y respaldo de consulta</title>
</head>
<body>
        <h1>
            Hola {{ nombre }}
            <br/>
            Te informamos que tu consulta ha sido guardada y sera respondida a la brevedad
            <br/>
            Correo ingresado:
            {{ mail }}
            <br/>
            La consulta ingresada es: {{ msj }}
            <br/>
            El numero de contacto es: {{ numero }}
        </h1>
        <p>
            Mensaje enviado desde Sernac Educativo
        </p>
</body>
</html>